*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

nav, .hero-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

nav{
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
}

.nav-links{
    display: flex;
    gap: 25px;
}

a:hover{
    color: grey;
}

.logo-text{
    font-size: 24px;
    font-weight: bolder;
}

.nav-links,.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

