*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}

nav, .hero-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: #f9faf8;
}

nav{
    justify-content: space-between;
    align-items: center;
    padding: 16px 5%;
}

.nav-links{
    display: flex;
    gap: 25px;
}

a:hover{
    color: grey;
}

.logo-text{
    font-size: 24px;
    font-weight: bolder;
}

.nav-links,.hero-text{
    font-size: 18px;
    color: #E5E7EB;
}

.hero-section{
    padding: 75px 20%;
    justify-content: center;
}

.hero-info{
    width: 50%;
}

.hero-header{
    font-size: 48px;
    font-weight: 900;
}

.hero-text{
    margin-bottom: 10px;
}

button{
    background: #3882F6;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    margin: 0;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;

}

button:hover {
    background: #0053ba;
}

.hero-img{
    background-color: grey;
    width: 50%;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
}

.info-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 15px;
}

.info-header{
    font-size: 36px;
    font-weight: bolder;
}

.info-containers{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.info-container{
    width:150px;
    text-align: center;
}

.info-img{
    
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
.quote-section{
    background-color: #E5E7EB;
    padding: 150px 20%;
    display: flex;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}

.quote-speaker{
    align-self: flex-end;
    font-size: 18px;
    font-weight: 900;
}


.cta-section{
    background: #3882F6;
    margin: 75px 20%;
    border-radius: 5px;
    padding: 25px 75px;
    display: flex;
    color: #f9faf8;
    gap: 15%;
}


.cta-header{
    font-weight: bolder;
    margin-bottom: 2.5px;
}
.cta-subtext{
    color: #E5E7EB;
}

.cta-btn{
    border: 2.5px solid #f9faf8

}



footer{
    background: black;
    color: #f9faf8;
    padding: 25px;
    text-align: center;
}
